/* ----------------------------------------------------------------------------*

FILE
src/styles/components/_badges.scss

DESCRIPTION
Styles for Badges and Badge components.

*---------------------------------------------------------------------------- */

body {
	.badges {
		a {
			border: none !important;

			.badge {
				overflow: hidden;
				box-sizing: border-box;
				display: inline-block;
				width: 40px;
				height: 40px;
				border: 2px solid rgba(map-get($Foundations_Colors_Neutral, 'white'), 1);
				border-radius: 40px;
				background: map-get($UI_Named_Colors, 'card-background');
				margin-top: 4px;
				margin-right: 12px;
			}
		}
	}
}
