/*-----------------------------------------------------------------------------*

FILE
src/styles/components/_credits.scss

DESCRIPTION
Styles for Credits component.

*-----------------------------------------------------------------------------*/

#credits {
  a {
    border: none;
    display: inline-flex;

    .gem {
      background-size: cover;
    }
  }
}
