/* ----------------------------------------------------------------------------*

FILE
src/styles/components/_technologies.scss

DESCRIPTION
Styles for Technologies component.

*---------------------------------------------------------------------------- */

#technologies {
	a {
		display: inline-flex;
		border: none;

		.gem {
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
		}
	}
}
