/* ----------------------------------------------------------------------------*

FILE
src/styles/pages/template/_footer.scss

DESCRIPTION
Footer section.

*---------------------------------------------------------------------------- */

body {
	footer {
		background: map-get($UI_Named_Colors, 'footer-background');
		color: map-get($Foundations_Colors_Neutral, 'white');
		border-top: thin solid map-get($UI_Named_Colors, 'footer-background');

		.view .grid {
			.container {
				@extend .grid;
				align-items: baseline;

				&.split {
					section {
						&:nth-of-type(1),
						&:nth-of-type(2) {
							ul li {
								margin-bottom: 16px;
							}
						}

						a {
							color: inherit !important;

							&:active,
							&:focus,
							&:hover {
								border-bottom-color:
									map-get(
										$Foundations_Colors_Neutral,
										'white'
									) !important;
							}
						}
					}

					@include breakpointFromTo('xs', 's') {
						.title.level1 {
							grid-column-start: 1;
							grid-column-end: 7;
						}

						section {
							&:nth-of-type(1),
							&:nth-of-type(2) {
								grid-column-start: 1;
								grid-column-end: 7;
							}
						}
					}

					@include breakpointUp('m') {
						.title.level1 {
							grid-column-start: 1;
							grid-column-end: 13;
						}

						section {
							&:nth-of-type(1) {
								grid-column-start: 1;
								grid-column-end: 6;
							}

							&:nth-of-type(2) {
								grid-column-start: 6;
								grid-column-end: 13;
							}
						}
					}
				}

				&:nth-of-type(even) {
					margin-top: 32px;
				}
			}
		}
	}

	&.dark {
		footer {
			background: map-get($UI_Named_Colors--dark, 'footer-background');
			color: map-get($UI_Named_Colors--dark, 'text');
			border-top: thin solid map-get($UI_Named_Colors--dark, 'border');
		}

		a {
			color: map-get($UI_Named_Colors--dark, 'link-text') !important;

			&:active,
			&:focus,
			&:hover {
				border-bottom-color:
					map-get(
						$UI_Named_Colors--dark,
						'link-text'
					) !important;
			}
		}
	}
}
