/*-----------------------------------------------------------------------------*

FILE
src/styles/pages/template/_spacing.scss

DESCRIPTION
Root level spacing styles.

*-----------------------------------------------------------------------------*/

header {
  @include breakpointFromTo("xs", "s") {
    padding-top: 64px;
    padding-bottom: 52px;
  }
  @include breakpointOnly("m") {
    padding-top: 64px;
    padding-bottom: 52px;
  }
  @include breakpointOnly("l") {
    padding-top: 64px;
    padding-bottom: 52px;
  }
  @include breakpointUp("xl") {
    padding-top: 64px;
    padding-bottom: 52px;
  }

  &.scrolled {
    padding-top: 24px;
    padding-bottom: 24px;

    #main-menu-overlaid {
      li {
        &:first-of-type {
          margin-top: 0;
        }
      }
    }
  }
}

main {
  &.about,
  &.index,
  &.notfound {
    @include breakpointFromTo("xs", "s") {
      padding-top: 168px;
    }
    @include breakpointOnly("m") {
      padding-top: 196px;
    }
    @include breakpointOnly("l") {
      padding-top: 228px;
    }
    @include breakpointUp("xl") {
      padding-top: 240px;
    }

    section#hero {
      @include breakpointFromTo("xs", "s") {
        margin-bottom: 72px;
      }
      @include breakpointOnly("m") {
        margin-bottom: 100px;
      }
      @include breakpointOnly("l") {
        margin-bottom: 128px;
      }
      @include breakpointUp("xl") {
        margin-bottom: 140px;
      }
    }

    .container#about-and-contact {
      @include breakpointFromTo("xs", "s") {
        margin-top: 56px;
      }
      @include breakpointOnly("m") {
        margin-top: 64px;
      }
      @include breakpointOnly("l") {
        margin-top: 72px;
      }
      @include breakpointUp("xl") {
        margin-top: 80px;
      }
    }
  }

  &.notfound {
    @include breakpointFromTo("xs", "s") {
      padding-bottom: 28px;
    }
    @include breakpointOnly("m") {
      padding-bottom: 32px;
    }
    @include breakpointOnly("l") {
      padding-bottom: 36px;
    }
    @include breakpointUp("xl") {
      padding-bottom: 40px;
    }
  }

  &.project {
    @include breakpointFromTo("xs", "s") {
      padding-top: 176px;
    }
    @include breakpointOnly("m") {
      padding-top: 180px;
    }
    @include breakpointOnly("l") {
      padding-top: 188px;
    }
    @include breakpointUp("xl") {
      padding-top: 192px;
    }
  }
}

footer {
  @include breakpointFromTo("xs", "s") {
    margin-top: 60px;
    padding-top: 60px;
    padding-bottom: 96px;
  }
  @include breakpointOnly("m") {
    margin-top: 68px;
    padding-top: 68px;
    padding-bottom: 112px;
  }
  @include breakpointOnly("l") {
    margin-top: 76px;
    padding-top: 76px;
    padding-bottom: 128px;
  }
  @include breakpointUp("xl") {
    margin-top: 84px;
    padding-top: 84px;
    padding-bottom: 140px;
  }
}
